@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html {
    box-sizing: border-box;
        
}
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Lora', serif;
  }

body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
.body_image_1{
    display: flex;
    justify-content: center;
}
.body_image_1 img{ 
    width: 60%;
    height: auto;
}

.colored_strip_words{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
}

.contact_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    
}

.contact_links{
    display: flex;
    gap: 15px;
}

.contact_image{
    display: flex;
    justify-content: flex-end;
}

.contact_bar a{
    font-size: 20px;
    text-decoration: none;
    color:black;
    background: red;
    background: -webkit-linear-gradient(left, plum,floralwhite, mistyrose,turquoise,violet);
    background: -o-linear-gradient(right,plum,floralwhite, mistyrose,turquoise,violet);
    background: -moz-linear-gradient(right, plum,floralwhite, mistyrose,turquoise,violet);
    background: linear-gradient(to right,plum,floralwhite, mistyrose,turquoise,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px;
    
}

.contact_bar a:hover{
    transition: .5s;
    transform: scale(1.08);
    -webkit-text-stroke: .6px;
}

.dana_info, .dana_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.dana_info{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-right: 10px;
}

.dana_picture img{
    box-shadow: 30px 30px white;
    width: 100%;
    max-width: 400px;
}

.logo_container{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo_container img{
    width: 100%;
    max-width: 700px;
}

img{
    border-radius: 5px;
}

.dana, .jamie{
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
    
}

.dana{
    background-color: rgb(244, 242, 233);
}

.jamie{
    background-color: white;
}

.jamie_info_right p, .dana_info p{
    text-align: center;
}

.jamie_info_right, .jamie_picture_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.jamie_info_right{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.jamie_info_right img, .dana_info img{
    width: 100%;
    max-width: 100px;
}

.jamie_picture_left img{
    box-shadow: -30px 30px rgb(244, 242, 233);
    width: 100%;
    max-width: 400px;
}


.main_content{
    margin: 30px;
    background-color: rgb(244, 242, 233);
}

p{
    line-height: 1.5;
}

.short_bio_lba{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

.short_bio_lba p{
    width: 75%;
}

@media (max-width: 625px) {
    .dana{
        flex-direction: column-reverse;
    }
    
    .jamie{
        flex-direction: column;
    }
    .jamie_info_right, .jamie_picture_left, .dana_info, .dana_picture{
        width:100%;
    }
    .jamie, .dana{
        justify-content: space-between;
        gap: 50px;
    }
    .jamie_info_right p, .dana_info p, .short_bio_lba p{
        font-size: 12px;
    }
    .clinicpic1{
        display: none;
    }
    .clinicpic3{
        display:none;
    }
}

@media (min-width: 625px) and (max-width: 1024px) {
    .jamie_info_right p, .dana_info p, .short_bio_lba p{
        font-size: 16px;
    }
    .clinicpic1{
        display: none;
    }
    .clinicpic2{
        display:none;
    }
}

@media (min-width: 1025px) {
    .jamie_info_right p, .dana_info p, .short_bio_lba p{
        font-size: 20px;
    }
    .clinicpic2{
        display: none;
    }
    .clinicpic3{
        display:none;
    }
}
